<div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input id="message" type="text"
         *ngIf="(user | async)?.uid"
         placeholder="What is that you do?"
         (keyup.enter)="send($event.target.value)"
         [(ngModel)]="msgVal"/>
  <div id="details-container" *ngIf="(user | async)?.uid">
    <p *ngFor="let item of items | async">
      <span><img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678093-pin-128.png" style="height: 21px;"></span>
      <span><img src="https://cdn2.iconfinder.com/data/icons/humano2/128x128/actions/edit-delete.png" (click)="deleteOneItem(item.$key)" style="height: 25px; float: right; padding-left: 10px;"></span>
      {{item.message}}
    </p>
  </div>
</div>
